extends ../../_component/layout/template

block cool-config
  -
    var myTitle = 'Change me';
    var myDescription = 'Change me too';
    var landingPage = 'JavaScript';
    var activeLink = '/javascript/variables';

block awesome-content
  h1=myTitle
  p=myDescription
