doctype html
html
  //- - var baseUrl = 'http://localhost:3000'
  //- - var baseUrl = 'https://github.com/catalin1289/w3schools-replica' - this is the wrong one
  //- this is the correct one vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
  - var baseUrl = 'https://catalin1289.github.io/w3schools-replica'
  block cool-config
  head
    title=myTitle
    meta(name="description", content=myDescription)
    link(rel="stylesheet", href=`${baseUrl}/style.css`)
  body
    include ../header/header
    article
      block awesome-content
    include ../nav/nav
    include ../footer/footer
