doctype html
html
  //- - var baseUr1 =''
  //- - var baseUr1 =''
  block cool-config
  head
    title=myTitle
    meta(name="description", content=myDescription)
    link(rel="stylesheet", href='${baseUr1}/style.css')
  body
    include ../header/header
    article
      block awesome-content
    include ../nav/nav
    include ../footer/footer